body{
  background-color: lavender;
}
h1{
  text-align: center;

}

a{
  color: white;
}

a:visited{
  color: white;
}

p{
  text-align: center;
}

nav{
  text-align: center;
  overflow: hidden;
}

h2{
  color: purple;
}
h3 {
  background-color: #000;
}

button {
  background-color: black;
}
